body{
    max-height: 100vh;
  }
#section-one {
    min-height: 700px;
    background-image:url('../assets/images/taxi.jpg');
    background-position-y:92%;
    background-size:cover;
    background-repeat:no-repeat;
    color: white
  
  }
#section-three {
  min-height: 450px;
  background-image: url('../assets/images/conduce.jpg');
  background-position-y:50%;
  background-size:cover;
  background-repeat:no-repeat; 
}  


